.font-bold {
    font-weight: bold;
    color: black;
}

.italic {
    font-style: italic;
}

.selected {
    background-color: bisque;
}

center {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

textarea {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    overflow: auto;
    background-color: white;
    width: 800px;
    height: 900px;
    border: 2px solid #CCC;
    border-radius: 20px;
}

iframe {
    background-color: white;
    width: 800px;
    height: 900px;
    border: 2px solid #CCC;
    border-radius: 20px;
    overflow: auto;
}

button {
    margin-right: 10px;
}

body {
    background-color: gray;
    text-align: center;
}
