.jute {
    height: 100%;
}

    .jute .controls {
        background-image: linear-gradient(#F0F4F5, #b0c9d1);
        height: 60px;
    }

        .jute .controls .button {
            width: 36px;
            height: 32px;
            background-color: #CED4D6;
        }

            .jute .controls .button:hover {
                background-color: #EDF7FA;
                border: 2px solid #B0B0B0;
                cursor: pointer;
            }

        .jute .controls .bold {
            background: url('icons/bold.png') no-repeat center;
        }

        .jute .controls .italic {
            background: url('icons/italic.png') no-repeat center;
        }

        .jute .controls .link {
            background: url('icons/link.png') no-repeat center;
        }

        .jute .controls .ol {
            background: url('icons/ordered_list.png') no-repeat center;
        }

        .jute .controls .ul {
            background: url('icons/unordered_list.png') no-repeat center;
        }

        .jute .controls .undo {
            background: url('icons/undo.png') no-repeat center;
        }

        .jute .controls .redo {
            background: url('icons/redo.png') no-repeat center;
        }

    .jute .textEditor {
        height: calc(100% - 61px);
        padding-left: 5px;
        padding-right: 5px;
        background: white;
    }

        .jute .textEditor iframe {
            background-color: white;
            height: 90%;
            width: 100%;
            border: none;
            overflow: auto;
            display: block;
        }

        .jute .textEditor .imageContainer {
            background-color: #b0c9d1;
            height: 10%;
            border: none;
            border-top: 1px solid #8ABECF;
            margin-left: -5px;
            margin-right: -5px;
        }

        .jute .textEditor .imageRull {
            text-align: center;
        }
